
.header {
	font-size: 20px ! important;
}

.subHeader {
	    margin-left: 175px ! important;
	font-size: 17px ! important;
}

.searchTitle{
    height: 3rem;
    line-height: 3rem;

    font-size: large ! important;
    text-decoration: underline ! important;
}
.noPaading{
	padding:0rem !important;
}

.boldClass{
	font-weight: bold !important;
}

.hboxBackgroungColor {
	background-color: #F8FBFC !important;
}

.helpIcon {
	width: 15% ! important;
    margin-top: 7px ! important;
    margin-left: 15px ! important;
}

.uploadBtn {
	margin-top: 2px !important;
}

.vpnChechBoxMarginTop{
    margin-top: -7px;
}

.vpnChechBoxTextMarginTop{
   margin-left: 32px;
}	
